# R Syntax

In [ ]:
# Einfaches oder doppeltes Anführungszeichen für Text
"Hello"
'Hallo'

# Ohne Anführungszeichen für Number
123

In [ ]:
# Einfache Berechnungen
10/2
3^2
paste("Hello", "DigiKomp")
### F: paste() ist eine R Funktion. Was macht sie?
### Hinweis: ?paste

In [ ]:
# ACHTUNG:
'a' + 2
paste('a', 2)

# R Variable

Variablen sind Container zum Speichern von Datenwerten

In [ ]:
# Um einer Variablen einen Wert zuzuweisen, benutze "<-"
name <- "DigiKomp"
group <- "02_WS"

In [ ]:
# Eine Variable ausgeben (oder drucken)
name
age

# Oder
print(name)
print(age)

In [ ]:
# Manchmal müssen wir "print()" benutzen
# (z.B. wenn der Ausgabe-Befehl innerhalb von geschweifte
# Klammer {} )

for (i in 1:10) {
    i # ohne print() keine Ausgabe
}
# Aber hier funktioniert. Welche Werte hat Variable i? Warum?
i

### Einige Regeln für Variablennamen

- Muss mit einem Buchstaben beginnen
- Wenn sie mit einem Punkt "." beginnen, darf darauf keine Ziffer folgen (z. B. .2var nicht erlaubt)
- Dürfen nicht mit einem Unterstrich "_" oder Ziffer beginnen
- Bestimmte vordefinierte Wörter dürfen nicht verwendet werden, z. B. TRUE, FALSE, NULL, IF, ...

ACHTUNG: Variablennamen sind Groß- und Kleinschreibung beachtend, d. h. myVar ist unterschiedlich von MyVar

In [ ]:
# Beispiele
myVar <- "DigiKomp"
my_var <- "DigiKomp"
myvar <- "digikomp"
myvar2 <- "digikomp2"
paste(myVar, my_var, myvar, myvar2, sep = ", ") ### F: was ist "sep"?

In [ ]:
# Ungültig Variablennamen
2myvar <- "start with digit"
_myVar <- "start with underscore"
my-var <- "dash - not allowed"
my var <- "space not allowed"
my_v@r <- "special character"
TRUE <- "not true"

### Berechnung mit Variablen

In [ ]:
num1 <- 5
num2 <- 10
text1 <- "digi"
text2 <- "komp"

In [ ]:
num1 + num2
sum <- num1 + num2
print(sum)

In [ ]:
paste(text1, text2)
paste(text1, text2, sep = "")
paste0(text1, text2)

In [ ]:
# num1 + text1
paste(num1, text1)

# R Datentypen

Variablen können unterschiedlichen Datentypen speichern. Und verschiedene Typen können unterschiedlichen Aufgaben erfüllen.

Um den Typ einer Variable zu ermitteln, benutzen wir die Funktion `class(var)`.

## Zahler

3 Arten von Zahlentypen
- numeric (numerisch z.B. 10.5, 50,...)
- integer (ganzzahlig z.B. 10)
- [complex](https://byjus.com/maths/complex-numbers/#:~:text=Complex%20Numbers%20in%20Maths,an%20imaginary%20number%20(Im)) (komplex z.B. 5i, 3 + 5i, ...)

In [ ]:
x <- 10
class(x)
y <- 10L
class(y)
z <- 3+1i
class(z)

Um von einem Typ zum anderen zu konvertieren, benutzen wir:
- as.numeric()
- as.integer()
- as.complex()

In [ ]:
x <- 10
str(x) ### F: was macht die Funktion str()? 
x <- as.integer(x)
str(x)

Einige mathematische Funktionen:

- Grundrechenarten `+` (Plus), `-` (Minus), `*` (Multiplikation), `/` (Division), `^` (Exponent), `%%` (Modulus - Rest bei der Devision)
- `max()` & `min()`
- `sqrt()` (Quadratwurzel), `abs()` (Absolut positiver Wert), `round()` (Runden), `ceiling()` (Aufrunden), `floor()` (Abrunden)

In [ ]:
x <- 1.4
x
round(x)
ceiling(x)

## String (Zeichenketter)

Strings werden verwendet, um Text zu speichern

In [ ]:
t <- "DigiKomp"
str(t) ### Was ist der Datentyp von einem String?

In [ ]:
# Mehrzeilige Strings
mt <- "Seminar
DigiKomp
für
BSc. Bio"
mt # \n ist ein Newline Zeichen
cat(mt) ### F: was ist die Unterschied zwischen print() und cat() ?

Einige String-Funktionen:

In [ ]:
t <- "DigiKomp"
t0 <- "Seminar"
t
# Länge des Texts
nchar(t)

# 2 Strings kombinieren
paste(t0, t)
paste0(t0, t)

# Nach einem Teilstring suchen
grepl('Digi', t)
grep('Digi', t) ### F: was ist die Unterschied zwischen grepl() und grep()?
grepl('digi', t) ### F: wie kann man die Funktion ändern, damit sie die Groß-/Kleinschreibung betrachten kann?

## Booleans (logische Wert)

In [ ]:
x <- 5
y <- 7
# vergleiche x mit y
x = y # ACHTUNG: Ein einzelnes = wird nicht zum Vergleich verwendet
# vergleiche x mit 5
x == 5 ### F: Warum ist es hier falsch?

In [ ]:
c <- x < 5
str(c)

**Vergleichsoperationen in R**

- Gleich: `==`
- Ungleich: `!=`
- Größer als: `>`
- Kleiner als: `<`
- Größer oder gleich: `>=`
- Kleiner oder gleich: `<=`

In [ ]:
# Überprüfe, ob eine Variable eine gerade oder ungerade Zahl ist
x <- 101
if (x %% 2 == 0) {
    print(paste(x, "ist eine gerade Zahl"))
} else {
    print(paste(x, "ist eine ungerade Zahl"))
}

**Logische Operatoren in R**

- UND: `&` oder `&&`
- ODER: `|` oder `||`
- NICHT: `!`

In [ ]:
x <- 5
y <- 7
x < y & y < 10

In [ ]:
x <- c(TRUE, FALSE, TRUE, FALSE) 
y <- c(FALSE, TRUE, TRUE, FALSE)
x & y ### & führt eine elmentweise Vergleich durch und gibt einen logischen Vektor zurück
x && y ### && akzeptiert 2 logische Ausdrücke als Eingabe, nicht jedoch 2 Vektoren

# R Datenstrukturen

## Vektoren

Ein Vektor ist eine Liste von Elementen des gleichen Typs.

Um die Liste der Elemente zu einem Vektor zu kombinieren, verwenden wir die Funktion `c()`.

In [ ]:
str_vec <- c("digi", "komp", "bio")
print(str_vec)

In [ ]:
num_vec <- 1:10
print(num_vec)

Einige Funktionen für Vektoren in R

In [ ]:
vec <- c(4, 2, 1, 3, 5)

In [ ]:
# Element hinzufügen
vec <- c(vec, 7)
print(vec)

In [ ]:
# Element entfernen
vec <- vec[-6]
print(vec)

In [ ]:
# Ein Element ändern
vec[4] <- 6
print(vec)

In [ ]:
# Zugriff auf die Elemente des Vektors
vec[1]
vec[c(1,3)]
vec[c(-3)]

In [ ]:
# Überprüfe, ob ein Element exsitiert:
6 %in% vec
# Wie ist das Ergebnis, wenn wir hier die Funktion grepl() oder grep() benutzen?
grep(6, vec)

In [ ]:
# Überprüfe, ob ein Element exsitiert und

In [ ]:
# Gibt die Länge des Vektors an
length(vec)

In [ ]:
# Sortiert die Elemente
sort(vec)

In [ ]:
# Kehrt die Reihenfolge der Elemente im Vektor um
rev(vec)

In [ ]:
# Für ein numerische Vektor, können wir folgende Aktionen durchführen:
print(vec)
max(vec)
min(vec)
sum(vec)
mean(vec)
median(vec)

## Liste

Ein Liste in R kann verschiedene Datentypen enthalten. Eine Liste ist eine geordnete und veränderbare Sammlung von Daten. Liste ist *mehrdimensional*, während Vektor ist *eindimentional*.

Um die Liste zu erstellen, verwenden wir die Funktion `list()`.

In [ ]:
str_vec <- c("digi", "komp", "bio")
num_vec <- 1:5
str(my_vec)

cat("\n### HIER SIND MEINE LISTE ### \n")
cat("\nLIST_1:\n")
print(list("digi", "komp"))

cat("\nLIST_2:\n")
print(list(str_vec))
str(list(str_vec))

cat("\nLIST_3:\n")
my_list <- list(str_vec, num_vec)
print(my_list)
str(my_list)

Einige Operationen und Funktionen für Liste in R:

In [ ]:
# Zugriff auf die Elemente
my_list[1]
my_list[[1]]
my_list[[1]][2] ### F: warum my_list[1][2] geht nicht?

In [ ]:
# Element hinzufügen
my_list <- append(my_list, "new_element")
str(my_list)

In [ ]:
# Element entfernen
my_list <- my_list[-1]
str(my_list)

In [ ]:
# Überprüfe, ob ein Element exsitiert:
"new_element" %in% my_list
2 %in% my_list

In [ ]:
# Gibt die Länge der Liste an
length(my_list)

In [ ]:
# Verbinde 2 Listen
my_list_2 <- list("digi", "komp")
my_combined_list <- c(my_list, my_list_2)
print(my_combined_list)

In [ ]:
# Eine Liste in einem Vektor umwandeln
unlist(my_combined_list)

## Dataframes (Datenrahmen)

Dataframes sind Daten, die in Tabellenform dargestellt werden. 
Dataframes können verschiedene Datentypen enthalten, jedoch sollte **jede Spalte denselben Datentyp** haben.

Um einen Dataframe zu erstellen, verwenden wir die Funktion `data.frame()`

In [ ]:
df <- data.frame(
    name = c("John", "Maria", "Lucas"),
    age = c(20, 21, 21),
    group = c("G1", "G2", "G1")
)
df_bkp <- df
print(df)

In [ ]:
str(df)

In [ ]:
# um schnell eine Zusamenfassung der Daten aus dem Dataframe zu erhalten
summary(df)

Einige Operationen und Funktionen für Dataframes in R:

In [ ]:
# Zugriff auf Spalten
df[2]
df[["age"]]
df$age

In [ ]:
# Zugriff auf Zeilen
df[2,]

In [ ]:
# Spalte hinzufügen
df$score <- c(3, 1.5, 2)
print(df)
# oder die Funktion cbind() verwenden
new_col_df <- cbind(df, new_col = c("a","b","c")) ### F: ?cbind
print(new_col_df)

In [ ]:
# Zeile hinzufügen
new_row_df <- rbind(df, c("Julia", 22, "G2", 1)) ### F: ?rbind
print(new_row_df)

In [ ]:
# Spalte/Zeile entfernen
str(df)
df[, -c(4)] # 4. Spalte entfernen
df[-c(1),] # 1. Zeile entfernen
subset(df, select = c("name", "age", "group")) # Spalte "score" entfernen

In [ ]:
# Anzahl der Spalten/Zeilen
dim(df) # Output: Anzahl der Zeilen x Spalten
ncol(df) # Anzahl der Spalten
nrow(df) # Anzahl der Zeilen
length(df) # Ähnlich wie ncol(df)

## R Faktoren

Faktoren werden verwendet, um Daten zu kategorisieren

In [ ]:
head(df) ### F: Was macht die Funktion head()?
df[4,] <- c("Julia", 22, "G2", 1) # Ähnlich wie rbind(df, c("Julia", 22, 2, 1)). Was ist der Nachteil here?
str(df) # Achte auf den Datentyp jeder Spalte
df$group <- factor(df$group)
str(df) # Achte auf den Datentyp jeder Spalte

In [ ]:
# Wie viele Gruppen haben wir im Dataframe df?
nlevels(df$group)
# Welche sind sie?
levels(df$group)

## Matrizen

Matrix ist eine 2-dimensionale Datensammlung mit Spalten und Zeilen. Im Gegensatz zu Dataframes können Matrizen nur einen einzigen Datentyp enthalten.

Um eine Matrix zu erstellen, verwenden wir die Funktion `matrix()` und geben wir die Anzahl der Zeilen (`nrow`) und Spalten (`ncol`) an.

In [ ]:
my_matrix <- matrix(c(11,21,12,22,13,23), nrow = 2, ncol = 3)
print(my_matrix)

## Arrays

Im gegensatz zu Matrizen können Arrays mehr als 2 Dimensionen haben.

In [ ]:
my_array <- array(1:24, dim = c(2,3,4)) # Ein Array mit 4 Dimensionen, jede Dimension ist eine Matrix mit 2 Zeilen, 3 Spalten
print(my_array)

In [ ]:
# Matrix 2 ausdrucken
print(my_array[,,2])

In [ ]:
# Extrahiere das Element in der 1. Zeile und 3. Spalte von der 2. Matrix
print(my_array[1,3,2])

# If...Else...
<pre><code>
if (eine Bedingung wahr ist) {
    dann tun etwas
} else {
    tun etwas anderes
}
</code></pre>

In [ ]:
a <- 'digikomp'
if (grepl("digi", a)) {
    print("Gefunden!")
} else {
    print("Nicht gefunden!")
}

In [ ]:
a <- 'DigiKomp'
if (grepl("digi", a)) {
    print("Kleinbuchstaben")
} else if (grepl("Digi", a)) {
    print("Großbuchstaben")
} else {
    print("Nicht gefunden!")
}

# R Schleife

Schleifen können einen Codeblock ausführen, solange eine bestimmte Bedingung erfüllt ist

## FOR Schleife

Eine for-Schleife wird verwendet, um über eine Sequenz (Vektor/Liste) zu iterieren.

In [ ]:
# Für jedes Element aus dem Vektor, multipliziere es mit 3
vec <- c(1:5)
for (element in vec) {
    print(element * 3) ### ACHTUNG: ohne Funktion print() wird nichts ausgegeben
}

In [ ]:
# Gib nur ungerade Zahlen von einem Vektor zurück
vec <- c(1:5)
for (i in vec) {
    if (i %% 2 != 0) {
        print(i)
    }
}

In [ ]:
# Gib nur ungerade Zahlen von einem Vektor zurück Stoppe die Schleife, wenn die Zahl größer als 3
vec <- c(1:5)
for (i in vec) {
    if (i > 3) {
        break
    }
    if (i %% 2 != 0) {
        print(i)
    }
}

In [ ]:
# Gib nur ungerade Zahlen von einem Vektor zurück, außer der Zahl 3
vec <- c(1:5)
for (i in vec) {
    if (i == 3) {
        next
    }
    if (i %% 2 != 0) {
        print(i)
    }
}

## WHILE Schleife

Eine while-Schleife läuft, solange ihre Bedingung noch TRUE ist.

In [ ]:
i <- 1
while (i < 5) {
    print(i)
    i = i + 1 ### ACHTUNG: ohne diese Zeile, die Schleife wird für immer fortgesetzt!!!
}

# R Funktionen

Eine Funktion ist ein Code-Block, der nur ausgeführt wird, wenn er aufgerufen wird. 
Daten, auch als Parameter bezeichnet, können einer Funktion übergeben werden.
Als Ergebnis kann eine Funktion Daten zurückgeben.

Um eine Funktion zu erstellen, verwenden wir das Schlusselwort `function()`

In [ ]:
# Eine Funktion, die die Summe von 2 Zahlen berechnet
sum_two_var <- function (num1, num2) {
    sum_output = num1 + num2
    return(sum_output)
}
# kurzere Version
sum_two_var <- function (num1, num2) {
    return(num1 + num2)
}

In [ ]:
a <- 3
b <- 4.5
sum_two_var(a, b)

In [ ]:
# Eine Funktion, die den Mittelwert einer Liste von Zahlen berechnet
calc_mean <- function (my_list) {
    # zuerst müssen wir die Summe berechnen
    sum = 0
    for (i in my_list) {
        sum = sum + i
    }
    # dann, berechnen wir den Mittelwert
    mean = sum / length(my_list)
    return(mean)
}

In [ ]:
l <- c(1:5)
print(l)
calc_mean(l)

# Datei importieren und exportieren

*Hinweis:* [Best Pratices für die Vorbereitung von Dateien für den Import in R](http://www.sthda.com/english/wiki/best-practices-in-preparing-data-files-for-importing-into-r). Achte bitte auf den zweiten Punkt bezüglich der Namenskonvention!

In [ ]:
# Datei in eine Variable einlesen
my_data <- read.csv(file = "my_input_file.csv", sep = ";", header = TRUE, stringAsFactor = FALSE) ### F: Was bedeuten die Parameter?

# Eine Variabnle in eine Datei schreiben
write.csv(my_data, file = "my_output_file.csv", row.names = FALSE)

# Zusammenfassung

Herzlichen Glückwunsch! Du hast fast alle Grundlagen von R gelernt ^_^

Dieses Tutorial basiert größtenteils auf https://www.w3schools.com/r/default.asp. Wenn Du möchtest (und Zeit hast), kannst Du versuchen, ihre [Übungen](https://www.w3schools.com/r/r_exercises.asp) oder [Quiz](https://www.w3schools.com/r/r_quiz.asp) zu lösen :)